body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: dimgray;
}

a:visited {
  text-decoration: none;
  color: dimgray;
}

a:hover {
  text-decoration: none;
  color: darkslategray;
}

.todoItem-checked {
  font-style: italic;
  text-decoration: line-through;
}